<template>
  <div class="date-form">
    <label class="label" for="date">
      Date de naissance
      <small>&nbsp;</small>
    </label>

    <input v-model="evolvingValue" class="input" type="date" />

    <div
      class="cta"
      :disabled="evolvingValue === undefined"
      @click="submitChange"
    >
      Suivant
    </div>
  </div>
</template>

<script>
export default {
  props: {
    value: undefined
  },
  data() {
    return {
      evolvingValue: this.value
    }
  },
  methods: {
    submitChange() {
      this.$emit('updateValue', this.evolvingValue)
    }
  }
}
</script>

<style lang="scss">
.date-form {
  @extend %vote;
}
</style>
