<template>
  <div class="email-form">
    <label class="label" for="gender">
      Email
      <small>pour changer ton vote</small>
    </label>

    <input v-model="evolvingValue" class="input" type="email" />

    <div
      class="cta"
      :disabled="evolvingValue === undefined"
      @click="submitChange"
    >
      Terminer
    </div>
  </div>
</template>

<script>
export default {
  props: {
    value: undefined
  },
  data() {
    return {
      evolvingValue: this.value
    }
  },
  methods: {
    submitChange() {
      this.$emit('updateValue', this.evolvingValue)
    }
  }
}
</script>

<style lang="scss">
.email-form {
  @extend %vote;
}
</style>
