<template>
  <div class="gender-form">
    <label class="label" for="gender">Sexe</label>

    <div class="select">
      <select id="gender" v-model="evolvingValue" name="gender">
        <option value="" selected disabled></option>
        <option value="0">Garçon</option>
        <option value="1">Fille</option>
      </select>

      <div class="value" v-text="valueWording" />
    </div>

    <div
      class="cta"
      :disabled="evolvingValue === undefined"
      @click="submitChange"
    >
      Suivant
    </div>
  </div>
</template>

<script>
export default {
  props: {
    value: undefined
  },
  data() {
    return {
      evolvingValue: this.value
    }
  },
  computed: {
    valueWording() {
      if (this.evolvingValue === '0') return 'Garçon'
      if (this.evolvingValue === '1') return 'Fille'
      return 'Il faut choisir'
    }
  },
  methods: {
    submitChange() {
      this.$emit('updateValue', this.evolvingValue)
    }
  }
}
</script>

<style lang="scss">
.gender-form {
  @extend %vote;
}
</style>
