<template>
  <dl class="recap-block">
    <dt>Sexe</dt>
    <dd>
      {{
        informations.gender === undefined
          ? 'à remplir'
          : Number(informations.gender)
          ? 'Fille'
          : 'Garçon'
      }}
    </dd>

    <dt>Poids</dt>
    <dd>
      {{
        informations.weight === undefined
          ? 'à remplir'
          : `${informations.weight}kg`
      }}
    </dd>

    <dt>Taille</dt>
    <dd>
      {{
        informations.height === undefined
          ? 'à remplir'
          : `${informations.height}cm`
      }}
    </dd>

    <dt>Date</dt>
    <dd>
      {{
        informations.date === undefined ? 'à remplir' : `${informations.date}`
      }}
    </dd>

    <dt>Prénom de garçon</dt>
    <dd>
      {{ informations.boy === undefined ? 'à remplir' : `${informations.boy}` }}
    </dd>

    <dt>Prénom de fille</dt>
    <dd>
      {{
        informations.girl === undefined ? 'à remplir' : `${informations.girl}`
      }}
    </dd>

    <template v-if="informations.email">
      <dt>Adresse email</dt>
      <dd>
        {{ informations.email }}
      </dd>
    </template>
  </dl>
</template>

<script>
export default {
  props: {
    informations: undefined
  }
}
</script>

<style lang="scss">
.recap-block {
  > dd,
  > dt {
    display: block;
    width: 49.9%;
    margin: 0 0 19px;
    font-weight: 300;
  }

  > dt {
    float: left;
    text-align: left;
  }

  > dd {
    float: right;
    text-align: right;
    color: $Sienna;
  }
}
</style>
