// Colors
$Eden: #104253;
$Sienna: #e66453;
$Gold: #cec238;
$Merino: #f4efdf;

// Fonts
$Londrina: 'Londrina Solid', sans-serif;

// Styles
body {
  background-color: $Merino;
  font-family: $Londrina;
  color: $Eden;
}

// Vote
%vote {
  >.label {
    display: block;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 900;

    >small {
      display: block;
      font-size: 14px;
      font-weight: 300;
    }
  }

  >.input {
    display: block;
    height: 50px;
    max-width: 300px;
    width: 90%;
    margin: 0 auto;
    background: white;
    border-radius: 25px;
    border: 2px solid $Eden;
    outline: none;
    text-align: center;
    font-size: 14px;
    font-family: $Londrina;
    color: $Eden;
  }

  >.select {
    display: block;
    position: relative;
    height: 50px;
    max-width: 300px;
    width: 90%;
    margin: 0 auto;
    background: white;
    border-radius: 25px;
    border: 2px solid $Eden;

    >select {
      -webkit-appearance: none;
      display: block;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      cursor: pointer;
    }

    >.value {
      line-height: 50px;
      font-size: 14px;
    }
  }

  >.cta {
    display: inline-block;
    margin: 20px auto 0;
    padding: 0 30px;
    height: 40px;
    background: $Sienna;
    border-radius: 20px;
    color: white;
    line-height: 40px;
    cursor: pointer;

    &[disabled] {
      opacity: 0.5;
      cursor: default;
    }
  }
}
