<template>
  <main class="layout-default">
    <nuxt-link to="/" class="header">
      <img src="/logo.png" alt="" class="logo" />
    </nuxt-link>

    <div class="content">
      <nuxt />
    </div>

    <footer class="footer">
      <nuxt-link class="link" to="/recompenses">on gagne quoi ?</nuxt-link>
      <div v-if="votes.length > 1" class="votes">
        déjà {{ votes.length }} votes !
      </div>
      <nuxt-link class="link" to="/change">changer mon prono</nuxt-link>
    </footer>
  </main>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      votes: []
    }
  },
  mounted() {
    axios.get(process.env.apiUrl).then(result => {
      this.votes = result.data
    })
  }
}
</script>

<style lang="scss">
.layout-default {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 98vh;
  width: calc(100% - 60px);
  max-width: 400px;
  margin: 0 auto;
  text-align: center;

  > .header {
    padding: 5px 0;

    > .logo {
      width: 100%;
      max-width: 244px;
    }
  }

  > .content {
  }

  > .footer {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;

    > .link {
      font-weight: 300;
      color: $Eden;

      &:hover {
        color: $Sienna;
      }
    }

    > .votes {
      color: $Sienna;
    }
  }
}
</style>
