<template>
  <main class="layout-fluid">
    <nuxt-link to="/" class="header">
      <img src="/logo.png" alt="" class="logo" />
    </nuxt-link>

    <div class="content">
      <nuxt />
    </div>
  </main>
</template>

<style lang="scss">
.layout-fluid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  min-height: 98vh;
  width: calc(100% - 60px);
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;

  > .header {
    padding: 5px 0;
    margin-bottom: 20px;

    > .logo {
      width: 100%;
      max-width: 244px;
    }
  }

  > .content {
  }
}
</style>
