<template>
  <div class="page-admin">
    <table>
      <thead>
        <tr>
          <th>Email ({{ votes.length }})</th>
          <th>Sexe</th>
          <th>Garçon</th>
          <th>Fille</th>
          <th>Poids</th>
          <th>Taille</th>
          <th>IMC</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="vote in votes" :key="vote.user">
          <td>
            <nuxt-link :to="`/recap/${vote.user}`">{{ vote.email }}</nuxt-link>
          </td>
          <td v-text="vote.gender == 1 ? 'Fille' : 'Garçon'" />
          <td v-text="vote.boy" />
          <td v-text="vote.girl" />
          <td v-text="vote.weight" />
          <td v-text="vote.height" />
          <td>
            {{
              Math.round(
                vote.weight / ((vote.height / 100) * (vote.height / 100))
              )
            }}
          </td>
          <td v-text="vote.date" />
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  layout: 'fluid',
  async asyncData() {
    const votes = await axios.get(process.env.apiUrl)
    votes.data.sort((a, b) => (a.email > b.email ? 1 : -1))

    return {
      votes: votes.data
    }
  }
}
</script>

<style lang="scss">
.page-admin {
  table {
    width: 100%;
    text-align: left;
  }

  a {
    color: $Sienna;
  }
}
</style>
