<template>
  <section class="page-index">
    <GenderForm
      v-if="!votes.gender"
      :value="votes.gender"
      @updateValue="updateGender"
    />
    <HeightForm
      v-else-if="!votes.height"
      :value="votes.height"
      @updateValue="updateHeight"
    />
    <WeightForm
      v-else-if="!votes.weight"
      :value="votes.weight"
      @updateValue="updateWeight"
    />
    <DateForm
      v-else-if="!votes.date"
      :value="votes.date"
      @updateValue="updateDate"
    />
    <BoyForm
      v-else-if="!votes.boy"
      :value="votes.boy"
      @updateValue="updateBoy"
    />
    <GirlForm
      v-else-if="!votes.girl"
      :value="votes.girl"
      @updateValue="updateGirl"
    />
    <EmailForm
      v-else-if="!votes.email"
      :value="votes.email"
      @updateValue="updateEmail"
    />
    <div v-else class="voted">
      <h1>Tu as déjà voté !</h1>

      <nuxt-link to="/reset">Je veux voter encore !</nuxt-link>
    </div>
  </section>
</template>

<script>
import GenderForm from '~/components/GenderForm'
import HeightForm from '~/components/HeightForm'
import WeightForm from '~/components/WeightForm'
import DateForm from '~/components/DateForm'
import BoyForm from '~/components/BoyForm'
import GirlForm from '~/components/GirlForm'
import EmailForm from '~/components/EmailForm'

export default {
  components: {
    GenderForm,
    HeightForm,
    WeightForm,
    DateForm,
    BoyForm,
    GirlForm,
    EmailForm
  },
  computed: {
    votes() {
      console.log(this.$store.state)
      return this.$store.state
    }
  },
  methods: {
    updateGender(val) {
      this.$store.commit('setVote', { key: 'gender', value: val })
    },
    updateHeight(val) {
      this.$store.commit('setVote', { key: 'height', value: val })
    },
    updateWeight(val) {
      this.$store.commit('setVote', { key: 'weight', value: val })
    },
    updateDate(val) {
      this.$store.commit('setVote', { key: 'date', value: val })
    },
    updateBoy(val) {
      this.$store.commit('setVote', { key: 'boy', value: val })
    },
    updateGirl(val) {
      this.$store.commit('setVote', { key: 'girl', value: val })
    },
    updateEmail(val) {
      this.$store.commit('setVote', { key: 'email', value: val })
      this.$router.push('/recap')
    }
  }
}
</script>

<style lang="scss">
.page-index {
  > .voted {
    > h1 {
      font-size: 2em;
    }

    a {
      color: $Sienna;
    }
  }
}
</style>
