<template>
  <div class="page-reset">
    Synchronisation des réacteurs
  </div>
</template>

<script>
export default {
  mounted() {
    this.$store.dispatch('reset')

    setTimeout(
      function() {
        this.$router.push('/')
      }.bind(this),
      1000
    )
  }
}
</script>

<style lang="scss">
.page-reset {
  font-size: 2em;
}
</style>
