<template>
  <div class="page-recap">
    <h1 class="title">Vote enregistré !</h1>

    <RecapBlock :informations="result" />
  </div>
</template>

<script>
import axios from 'axios'
import RecapBlock from '~/components/RecapBlock'

export default {
  components: {
    RecapBlock
  },
  async asyncData(context) {
    const id = context.route.params.id
    const result = await axios.get(process.env.apiUrl + id)

    console.log(result)

    return {
      result: result.data
    }
  }
}
</script>

<style lang="scss">
.page-recap {
  > .title {
    margin-bottom: 1em;
    font-size: 1.5em;
    color: $Eden;
  }
}
</style>
