<template>
  <div class="page-recap">
    <RecapBlock :informations="state" />

    <button class="cta" @click="submitVote()">Envoyer mon vote</button>
  </div>
</template>

<script>
import axios from 'axios'
import RecapBlock from '~/components/RecapBlock'

export default {
  components: {
    RecapBlock
  },
  computed: {
    state() {
      return this.$store.state
    }
  },
  methods: {
    async submitVote() {
      const result = await axios.post(process.env.apiUrl, this.state)
      this.$router.push('/recap/' + result.data.user)
    }
  }
}
</script>

<style lang="scss">
.page-recap {
  > .cta {
    display: inline-block;
    margin: 20px auto 0;
    padding: 0 30px;
    height: 40px;
    background: $Sienna;
    border-radius: 20px;
    color: white;
    line-height: 40px;
    cursor: pointer;
  }
}
</style>
