<template>
  <div class="page-reset">
    Synchronisation des réacteurs
  </div>
</template>

<script>
export default {
  mounted() {
    this.$store.dispatch('reset')

    console.log('redirect before')
    setTimeout(function() {
      console.log('redirect')
    }, 100)
  }
}
</script>

<style lang="scss">
.page-reset {
  font-size: 2em;
}
</style>
